torch==1.13.1
torchvision==0.14.1
gymnasium==0.29.1
gym==0.26.2
gym-minigrid==1.2.1
pybullet==3.2.5
atari-py==0.3.0
numpy==1.23.5
matplotlib==3.6.3
seaborn==0.12.2
pandas==1.5.3
scipy==1.10.1
tensorboard==2.11.2
opencv-python
tqdm
